<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}
{% include compliance_nav.html %}

<div class="page-content">
    <div class="wrapper">
        {{ content }}
    </div>
</div>

{% include footer.html %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<script src="/js/scripts.js"></script>
<script src="/js/jquery.easypiechart.min.js"></script>
<script>
    $(function() {
        $('.chart').easyPieChart({
            barColor: "#0b794b",
            trackColor: "rgba(68, 68, 68, 0.65)",
            lineWidth: 6,
            scaleColor: false
        });
    });
</script>

</body>

</html>